*{
    border: 1px solid red;
}

header{
    background-size: contain;
    background-image: url('../img/pattern.png');
    height: 100px;
    background-color: #4ea0ff;
}

h1{
    font-size: 50px;
}

p{
    font-size: 18px;
}

#name{
    width: 200px;
}

.blue{
    color: #79cbf0;
}

.yellow{
    background-color: #ffff00;
}

h4{
    color: #9e9e9e ;
}